<div class="content">
  <div class="title">
    <h1>FORM</h1>
  </div>

  <div class="form">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="fields">
        <mat-form-field appearance="standard">
          <input matInput placeholder="nome" formControlName="nome" name="nome">
        </mat-form-field>


        <mat-form-field appearance="fill">
          <input matInput placeholder="origem" formControlName="origem" name="origem">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <input matInput placeholder="idade" formControlName="idade" name="idade">
        </mat-form-field>
      </div>

      <div class="actions">
        <button class="btn" type="submit" [disabled]="!form.valid" mat-button color="primary">OK</button>
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
      </div>

    </form>
  </div>

</div>


